<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>


<div class="card" style="width: 18rem;">
<% @campaigns.each do |campaign| %>
  <%= image_tag (campaign.img_url), class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= campaign.title %></h5>
    <p class="card-text"><%= campaign.content %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

  <p><small><%= link_to 'Show', campaign %>
  <%= link_to 'Edit', edit_campaign_path(campaign) %>
  <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></small></p>
  
  <% end %>
</div>

<br>

