<p id="notice"><%= notice %></p>

<div class="card" style="width: 30rem;">

  <%= image_tag (@campaign.img_url), class: "card-img-top"%>
  <div class="card-body">
    <h5 class="card-title"><%= @campaign.title %></h5>
    <p class="card-text"><%= @campaign.content %></p>
    <h6>Comments</h6>
    <% for comment in @campaign.comments %>
      <ul class="list-group">
          <li class="list-group-item"><%= comment.content %></li>
      </ul>
    <% end %>
    <%= link_to 'Edit', edit_campaign_path(@campaign) %> |
    <%= link_to 'Add comment', new_campaign_comment_path(@campaign) %> |
    <%= link_to 'Back', campaigns_path %>
    
  </div>
  
</div>
