<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @campaign.title %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @campaign.img_url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @campaign.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @campaign.user_id %>
</p>

<h2>Comments</h2>
<% for comment in @campaign.comments %>
    <ul>
      <li><%= comment.content %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Add comment', campaign_comments_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
